<%- include ("../partials/patient/head") %>
            
            <%- include ("../partials/patient/leftSide") %>

            <div class="col-10 right-section">
                <a href="/patient/schedules/new" class="btn btn-main">Nova Marcação</a>
                <div class="col resumo pb-5 text-center">
                    <div class="row">
                        <div class="col p-3">
                            <form action="#" class="pd-2 g-5 d-flex align-items-center">
                                <input type="search" list="tipo"
                                    class="inputDate p-3 rounded-pill bg-light mb-2 form-control" id="nomePaciente"
                                    placeholder="procurar...">
                                <button type="submit" class="border-0 btn btn-main rounded-pill mb-2"><i
                                        class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Consulta</th>
                                <th scope="col">Médico</th>
                                <th scope="col">Data</th>
                                <th scope="col">Ação </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% marcacao.forEach(marcacao =>{ %>
                                <tr>
                                    <td><%= marcacao.nomeEspecialidade%></td>
                                    <td><%= marcacao.nomeMedico %></td>
                                    <td><%= marcacao.dataMarcacao %></td>
                                    <td>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <a href="/admin/schedule/edit" class=""><i style="font-size: 20px;" class="text-dark px-1 bi bi-eye"></i>ver</a>
                                            <a href="/admin/schedule/edit" class=""><i style="font-size: 20px;" class="text-dark px-1 bi bi-arrow-clockwise"></i>adiar</a>
                                            <form action="/schedule/delete" method="post" onsubmit="deletarSchedule(event, this)">
                                                <input type="hidden" name="id" value="<%= marcacao.idMarcacao %>">
                                                <a href="#" style="color: #ff1A40   ;"><i class="px-1 bi bi-calendar-x"></i>eliminar</a>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </header>

<script>
    function confirmDelete(event, form){
        event.preventDefault()
        var decision = confirm("Quer deletar este dado?")
        if(decision){
            form.submit()
        }
    }
</script>

</body>
</html>