<%- include ("../partials/patient/head") %>
            
            <%- include ("../partials/patient/leftSide") %>

            <div class="col-10 right-section">
                <div class="col resumo pb-5 text-center">
                    <div class="row align-items-center">
                        <div class="col">
                    <div class="text-start">
                        <div class="md-3">
                            <h1 class="display-6 text-start">Meus dados</h1>
                        </div>
                        <div class="md-3">
                            <label for="">Nome completo</label>
                            <p> <%= paciente.pc.nomePaciente %>  </p>
                        </div>
                        <div class="md-3">
                            <label for="">Nome de Usuário</label>
                            <p> <%= paciente.pc.userPaciente %>  </p>
                        </div>
                        <div class="md-3">
                            <label for="">Data de Nascimento</label>
                            <p> <%= paciente.pc.nascimentoPaciente %>  </p>
                        </div>
                        <div class="md-3">
                            <label for="">Email</label>
                            <p> <%= paciente.pc.emailPaciente %>  </p>
                        </div>
                        <div class="md-3">
                            <label for="">Número de Telefone</label>
                            <p> <%= paciente.pc.tellPaciente %>  </p>
                        </div>
                    </div>
                        </div>
                        <div class="col bg-dark text-light">
                            <div class="md-3 p-5">
                                <h1 class="text-white">Editar</h1>
                                <form method="post" action="/paciente/editarPerfil" class="text-start">
                                    <div class="mb-3">
                                      <input name="nome" type="text" class="form-control border-0 border-bottom" placeholder="Nome completo" id="fillName">
                                    </div>
                                    <div class="mb-3">
                                      <input name="nascimento"  type="date" class="form-control border-0 border-bottom" placeholder="Nome de usuário" id="user">
                                    </div>
                                    <div class="mb-3">
                                      <input name="user" value="<%= paciente.pc.userPaciente %>" type="text" class="form-control border-0 border-bottom" placeholder="Nome de usuário" id="user">
                                    </div>
                                    <div class="mb-3">
                                      <input name="email" value="<%= paciente.pc.emailPaciente %>" type="email" class="form-control border-0 border-bottom" placeholder="Email" id="email">
                                    </div>
                                    <div class="mb-3">
                                      <input name="tell" value="<%= paciente.pc.tellPaciente %>" type="number" class="form-control border-0 border-bottom" placeholder="Telefone" id="numberTell">
                                    </div>
                                    <div class="mb-3">
                                      <input name="pass" value="<%= paciente.pc.senhaPaciente %>" type="password" class="form-control border-0 border-bottom" placeholder="Senha" id="pass">
                                    </div>
                                    <div class="mb-3">
                                      <input name="passConfirm" value="<%= paciente.pc.senhaPaciente %>" type="password" class="form-control border-0 border-bottom" placeholder="Confirmar senha" id="pass">
                                    </div>
                                    <button type="submit" class="btn-dark mt-3 w-100 py-2">Continuar</button>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<script>
    function confirmDelete(event, form){
        event.preventDefault()
        var decision = confirm("Quer deletar este dado?")
        if(decision){
            form.submit()
        }
    }
</script>

</body>
</html>