<%- include ("../partials/head.ejs") %>

<header class="page-marcacao">
    <div class="row">

        <%- include ("../partials/admin/leftSide") %>

        <div class="col-10 right-section" style="overflow:auto;">
            <!--Data Actual-->
            <div class="row">
                <div class="col">
                    <script language=javascript type="text/javascript">
                        now = new Date
                        //mes = 1+now.getMonth()
                        monName = new Array ("janeiro", "fevereiro", "março", "abril", "Maio", "junho", "agosto", "outubro", "novembro", "dezembro")
                        document.write("<h1 style='color:red;'>"+ now.getDate() + " de " + monName [now.getMonth() ] + " de " + now.getFullYear() +"</h1>")
                    </script>
                </div>
            </div>
            <!--Marcação-->
            <div class="mb-3">
                <a href="/admin/marcacao" class="btn btn-main rounded-0 w-100">Nova Marcação</a>
            </div>      
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <!---->
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body mb-5">
                      <h2 class="text-center"><i class="fa fa-heart"> Organ</i></h2>
                      <p class="py-3 text-center">Login</p>
                      <form action="/loginGeral" method="post">
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Usuário</label>
                          <input type="text" class="form-control rounded-pill" id="exampleFormControlInput1" name="user" placeholder="Nome de usuário">
                        </div>
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Senha</label>
                          <input type="password" class="form-control rounded-pill" id="exampleFormControlInput1" name="pass" placeholder="*****">
                        </div>
                        <div class="mb-3 text-center">
                          <a class="text-decoration-none text-dark" href="#">Esqueci-me da senha</a>
                        </div>
                        <div class="md-3">
                          <button class="btn btn-main w-100" type="submit">Entrar</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer text-center d-block">
                      <label>Ainda não possui um cadastro?</label> <br>
                      <label><a class="text-decoration-none " style="color: #ff1A40;" href="/cadastrar">Clique aqui</a> e cadastre-se.</label>
                    </div>
                  </div>
                </div>
              </div>      
            <!--Resumo-->
            <div class="row">
                <div class="col-md-3">
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Pacientes</div>
                        <div class="card-body">
                          <h5 class="card-title text-white" style="font-size: 3rem;"><%= paciente.length %></h5>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">Médicos</div>
                        <div class="card-body">
                            <h5 class="card-title text-white" style="font-size: 3rem;"><%= medico.length %></h5>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header">Marcações</div>
                        <div class="card-body">
                            <h5 class="card-title text-white" style="font-size: 3rem;"><%= marcacao.length %></h5>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header">Adiadas</div>
                        <div class="card-body">
                          <h5 class="card-title text-white" style="font-size: 3rem;">...</h5>
                        </div>
                      </div>
                </div>
            </div>

            <!--Gráficos-->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Marcações
                        </div>
                        <div class="card-body">
                            <canvas id="Chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Registro Geral do sistema
                        </div>
                        <div class="card-body">
                            <canvas id="Chart2" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!--Tabela-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Consultas Marcadas- <a target="_blank" href="/pdfConsulta">Gerar Relatório</a>
                        </div>
                        <div class="card-body">
                            <table class="table" id="myTable">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Paciente</th>
                                        <th scope="col">Consulta</th>
                                        <th scope="col">Médico</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% marcacao.forEach(marcacao =>{ %>
                                    <tr>
                                        <th scope="row"><%= marcacao.idMarcacao%></th>
                                        <td><%= marcacao.nomePaciente%></td>
                                        <td><%= marcacao.nomeEspecialidade %></td>
                                        <td><%= marcacao.nomeMedico %></td>
                                        <td><%= marcacao.dataMarcacao %></td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a href="/admin/schedule/edit" class=""><i style="font-size: 20px;" class="text-dark px-1 bi bi-eye"></i></a>
                                                <a href="/admin/schedule/edit" class=""><i style="font-size: 20px;" class="text-dark px-1 bi bi-arrow-clockwise"></i></a>
                                                <form action="/schedule/delete" method="post" onsubmit="deletarSchedule(event, this)">
                                                    <input type="hidden" name="id" value="<%= marcacao.idMarcacao %>">
                                                    <a href="#" style="color: #ff1A40   ;"><i class="px-1 bi bi-calendar-x"></i></a>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--script src="/js/script.js"></script-->
<script src="sweetalert2.all.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    const ctx = document.getElementById('Chart'); 
    let marcMensal="<%= marcacaoMensal %>";
    let MARCACAO_MENSAL=marcMensal.split(",").map(d=>parseInt(d))

const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Juh', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        datasets: [{
            label: '# of Votes',
            data: MARCACAO_MENSAL,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
const ctx2 = document.getElementById('Chart2');  
let medicos = parseInt("<%= medico.length %>");
let pacientes = parseInt("<%= paciente.length %>");
let Marcações = parseInt("<%= marcacao.length %>");
const myChart2 = new Chart(ctx2, {
    type: 'doughnut',
    data: {
        labels: ['Pacientes', 'Médicos', 'Marcações'],
        datasets: [{
            label: '# of Votes',
            data: [pacientes, medicos, Marcações],
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(1, 255, 65, 0.2)',
                'rgba(255, 206, 86, 0.2)',
               
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(1, 255, 65, 0.2)',
                'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 0
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});



$(document).ready( function () {
    $('#myTable').DataTable();
} );    

const pzz = document.getElementById('pizza');
const data = new Chart(pzz, {
    labels: [
        'Red',
        'Blue',
        'Yellow'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [300, 50, 100],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
})
</script>


<script>
    function deletarSchedule(event, form) {
        event.preventDefault()
        var decision = confirm("Tem certeza que deseja deletar essa linha?")
        if (decision == true) {
            form.submit()
        }
    }

    Swal.fire({
        name:"#sweet",
  icon: 'error',
  title: 'Oops...',
  text: 'Something went wrong!',
  footer: '<a href="">Why do I have this issue?</a>'
})
</script>



</body>

</html>